<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zt-portfolio-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f084b5ba-db5f-4843-a2b3-241e6af1e274/resourceGroups/portfolio-api-rg/providers/Microsoft.Web/sites/zt-portfolio-api</ResourceId>
    <UserName>$zt-portfolio-api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://zt-portfolio-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>